/* Navigation */
#navbar{
    flex-direction: column;
}
/* Home Section  */



/* Services Section  */
#services{
    flex-direction: column;
}

#services .box{

}

/* Clients Section */
#clients{
    overflow: hidden;
}

/* Contact Us section  */

/* Footer  */
.btn{
    width: 110px;
    height: 35px;
    padding: 4px;
    font-size: 1rem;
}
